@model MultasB.Models.Agentes

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Deseja remover este agente?</h3>
<div>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotografia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regressar á listagem", "Index")
        </div>
    }
</div>
