@model MultasB.Models.Agentes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Agente <i> @Model.Nome </i></h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            @* indicação da imagem do(a) Agente*@
            <img src="~/imagens/@Html.DisplayFor(model => model.Fotografia)"
                 alt="imagem do(a) agente @Html.DisplayFor(model => model.Nome)"
                 title="@Html.DisplayFor(model => model.Nome)"
                 width="150" />
 </dd>

    </dl>

    @*###################################################################################*@
    @*Apresentação das multas do Agente listado na parte de cima da View*@

    <hr/>
    <h3>Listagem das multas associadas ao(à) Agente</h3>

    @*class=""vai buscar no bootstrap o tipo de tabela que eu pretendo utilizar*@
    <table class="table">
        @*Cabeçalho*@
        <tr>
            <th>
                @*data da infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().DataDaMulta)
            </th>
            

            <th>
                @*Local da infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().LocalDaMulta)
            </th>

            <th>
                @*Condutor que cometeu a infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Condutor)
            </th>
            <th>
                @*Viatura envolvida na infração*@
                @Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Viatura.Matricula)
            </th>
        </tr>

        @*dados das multas listadas*@
        @foreach (var multa in Model.ListaDeMultas) {
        <tr>
            <td>@multa.DataDaMulta</td>
            <td>@multa.LocalDaMulta</td>
            <td>
                @*multa.Condutor.Nome*@
             @Html.ActionLink(multa.Condutor.Nome,"Details","Condutores",new { id = multa.Condutor.ID},null)
              </td>
            <td>@multa.Viatura.Matricula</td>
        </tr>

        }




    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regressar à listagem dos Agentes", "Index")
</p>
